* {
    box-sizing: border-box;
}
body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    overflow: scroll;
}

header {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}
p {
    font-size: 1.5rem;
    margin: 0;
}

#section-b {
    max-width: 900px;
    min-height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    box-shadow: 0 0 20px 5px rgba(60, 61, 63, 0.7);
    border-radius: 20px;
    background-color: rgb(226, 229, 240);
    color: black;
}
#main-quiz-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.counters {
    display: grid;
    grid-template-rows: 2fr 0.4fr;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: #000;
    height: 1px;
  }
  #s-c {
      display: inline-block;
      text-align: center;
      height: 28px;
      width: 50px;
      color: white;
    background-color: rgb(57, 57, 165);
    border-radius: 10px;
  }

.quiz-btn {
    display: grid;
    grid-template-columns: 2fr 0.3fr;
}

button {
    cursor: pointer;
    padding: 1.5em;
    width: 110px;
    background-color: rgb(57, 57, 165);
    color: white;
    border: 0;
    outline: none;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(75, 75, 192);
}

#section-b >* {
    padding: 1em;
}
#section-a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    max-width: 300px;
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
    color: black;
    background-color: rgb(226, 229, 240);
    border-radius: 10px;
 }

 #quiz-over {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    text-align: center;
    color: black;
    padding: 20px;
    background-color: rgb(226, 229, 240);
    border-radius: 10px;
 }

 #over-text {
     margin-bottom: 20px;
 }

 #try-again {
     margin-right: 20px;
 }
.hide {
    display: none;
}

.options {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: black;
    background-color: rgb(182, 170, 224);
    padding: 20px;
    border-radius: 10px;
}
.options:hover {
    cursor: pointer;
    background-color: rgb(193, 193, 218);
}


.correct {
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 20px;
    background-color: rgb(11, 197, 11);
    color: white;
}
.wrong {
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 20px;
    background-color: rgb(226, 19, 19);
    color: white;
}

.disabled {
    font-size: 1.5rem;
    padding: 20px;
    pointer-events: none;
}

@media screen and (max-device-width: 480px)
and 
(min-device-width: 320px) {
    body {
        overflow: scroll;
    }
    #main-quiz-container {
        display: flex;
        flex-direction: column;
    }
    .quiz-btn button {
        width: 80px;
    }
    .quiz-over-btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .options {
        text-align: start;
        padding: 12px;
    }.correct {
        text-align: start;
        padding: 12px;
    }.wrong {
        text-align: start;
        padding: 12px;
    }
}